/*Prettiness todos:
1. requests dialog (format + colors)
2. appt. dialog (format + colors)
3. calendar appts. (colors)
4. calendar times (format) */

.ui-autocomplete {
  top: 0;
  left: 0;
  z-index: 1510 !important;
  font-family:'Open Sans';
}

body {
  font-family: 'Open Sans';
  font-size: 1.5em;
  padding-top: 50px;
  background-color: #EEE;
  resize: true;

  min-width: 950px !important; 

}

.appt_icon {
  margin-right: 5px;
  font-size: 24px;
  color: white;
}

#tabs {
    width: 100%;
    border:none;
    background-color: inherit;
    color: #999;
}

li > a.viewTab:hover{
  cursor: pointer;
  background-color:#CCC;
}

.navbar-inverse .nav .active>a, .navbar-inverse .nav .active>a:hover, .navbar-inverse .nav .active>a:focus{
  color:#999;
  background-color:#ccc;

}

#notificationImg{
  width : 50px;
  height: 50px;
}

.notificationPill{
    background-color : #F5F5F5;
    border-style:solid;
    border-width:1px;
    border-color:#999; /*TODO FIX HOW THIS LOOKS*/
} /*not sure why this was originally #notification since we don't have anything with an id with "notification"*/
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand:hover{
  color:#999;
}

.navbar-inverse .brand, .navbar-inverse .nav>li>a {
  text-shadow: none;
}

.navbar-inverse .brand, .navbar-inverse .nav>li>a:hover {
  color:#999;
  background-color:#F5F5F5;
}


#notification:hover { 
  background-color: #CCC; 
}
.navbar-fixed-top{
  background-color: #F5F5F5
}

.navbar-brand{
  font-size: 2em;
}


#patientList{
/*  border-right: 1px solid #999;*/
  height: 510px;
  margin: 0px 0px 0px 0px;
  padding-right: 0px;
}
/*
#patientList {
  height:41vmax;
}*/

.lowerbar{
  padding:0px;
}

div.time-heading-div{
  width:100%;
}
li.appointment{
  min-width:100%;
  border-bottom: 1px solid #999;
}
li.patient:hover {
  cursor: pointer;
  background-color: #ccc;
}
ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
p{
  margin: 0px 0px 0px 0px;
  padding:none;
}

p.time-heading{
  font-weight:bold;
}
.navbar{
  border:none;
  padding: 0px;
  background-color: #993333;
  font-color:black;

}

textarea {
  resize: none;
}

label {
  cursor: default;
}

.ui-datepicker-trigger {
  cursor: pointer;
}

.hour_inner {
  overflow-x: auto;
  overflow-y: hidden;
  list-style: none;
  white-space: nowrap;
}

.hour_inner li {
  display: inline-block;
  height: 100%;
}

#schedule_view {
  background-color: #EEE;
  margin: 0px; 
}

.hero-unit {
  padding: 30px; 
}
.hour_row {
  padding: 2px;
  height: 99px;
}
.row{
  margin: 0px;
}

.hour_label {
  background-color: #CCCCCC;
  height: 100%;
}

.label{ 
  background-color: #CCCCCC;
  padding: 0px;
  margin: 0px;
  /*padding: .5em;*/
}

.appt_elem {
  height: 100%;
  width: 110px;
  margin-left: 2px;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#calendar_icon:hover {
  cursor: pointer;
}

#lightbox {
  position: fixed;
  top: 10px;
  left: 50%;
  width: 400px;
  margin-left: -250px;
  background: #fff;
  z-index: 1001;
  display: none;

  border-radius: 3px;
  padding: 50px;
  box-shadow: 0px 0px 5px #fff;
}
#lightbox-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
  z-index: 1000;
  display: none;
}
#lightbox_title {
  background-color: #AAA;
  border-radius: 3px;
  padding: 5px;
  color: #FFF;
}

#lightbox_input {
  height: 80px;
  margin-top: 5px;
  margin-bottom:15px;
  width:inherit;
}
#namepicker, #timepicker, #datepicker, #lightbox_kind, #lightbox_selected {
  height:inherit;
  width :inherit;
  margin: none;
}

#lightbox_notes_title{
  margin-bottom:5px;
}

#lightbox_notes{
  padding-left: 15px;
  padding-right: 15px;
  width:100%;
}

.lightbox_item{
  font-weight: bold;
  height: 2em;
  margin-bottom:15px;
  width: 100%;
}

#lightbox_remove, #lightbox_cancel {
  margin-right: 5px;
}

#lightbox_buttons {
  margin: 5px;
  text-align: right;
}

.ch {
  -moz-box-shadow:inset 0px 1px 0px 0px #83AE84;
  -webkit-box-shadow:inset 0px 1px 0px 0px #83AE84;
  box-shadow:inset 0px 1px 0px 0px #83AE84;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ebe9e), color-stop(1, #83AE84));
  background:-moz-linear-gradient(top, #9ebe9e 5%, #83AE84 100%);
  background:-webkit-linear-gradient(top, #9ebe9e 5%, #83AE84 100%);
  background:-o-linear-gradient(top, #9ebe9e 5%, #83AE84 100%);
  background:-ms-linear-gradient(top, #9ebe9e 5%, #83AE84 100%);
  background:linear-gradient(to bottom, #9ebe9e 5%, #83AE84 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ebe9e', endColorstr='#83AE84',GradientType=0);
  /*background-color:#9ebe9e;*/
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border: none;/*1px solid #942911;*/
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:'Open Sans';
  font-size:13px;
  padding:6px 6px;
  text-decoration:none;
  text-shadow:0px 1px 0px #83AE84;
  text-align: center;
}
.ch:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #83AE84), color-stop(1, #9ebe9e));
  background:-moz-linear-gradient(top, #83AE84 5%, #9ebe9e 100%);
  background:-webkit-linear-gradient(top, #83AE84 5%, #9ebe9e 100%);
  background:-o-linear-gradient(top, #83AE84 5%, #9ebe9e 100%);
  background:-ms-linear-gradient(top, #83AE84 5%, #9ebe9e 100%);
  background:linear-gradient(to bottom, #83AE84 5%, #9ebe9e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#83AE84', endColorstr='#9ebe9e',GradientType=0);
  background-color:#83AE84;
}
.ch:active {
  position:relative;
  top:1px;
}

.ev {
  -moz-box-shadow:inset 0px 1px 0px 0px #FFC652;
  -webkit-box-shadow:inset 0px 1px 0px 0px #FFC652;
  box-shadow:inset 0px 1px 0px 0px #FFC652;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fbd079), color-stop(1, #FFC652));
  background:-moz-linear-gradient(top, #fbd079 5%, #FFC652 100%);
  background:-webkit-linear-gradient(top, #fbd079 5%, #FFC652 100%);
  background:-o-linear-gradient(top, #fbd079 5%, #FFC652 100%);
  background:-ms-linear-gradient(top, #fbd079 5%, #FFC652 100%);
  background:linear-gradient(to bottom, #fbd079 5%, #FFC652 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbd079', endColorstr='#5cbf2a',GradientType=0);
  /*background-color: #fbd079;*/
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border: none;/*1px solid #fbd079;*/
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:'Open Sans';
  font-size:13px;
  padding:6px 6px;
  text-decoration:none;
  text-shadow:0px 1px 0px #fbd079;
  text-align: center;
}
.ev:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FFC652), color-stop(1, #fbd079));
  background:-moz-linear-gradient(top, #FFC652 5%, #fbd079 100%);
  background:-webkit-linear-gradient(top, #FFC652 5%, #fbd079 100%);
  background:-o-linear-gradient(top, #FFC652 5%, #fbd079 100%);
  background:-ms-linear-gradient(top, #FFC652 5%, #fbd079 100%);
  background:linear-gradient(to bottom, #FFC652 5%, #fbd079 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#fbd079',GradientType=0);
  background-color:#fbd079;
}
.ev:active {
  position:relative;
  top:1px;
}

.hon {
  -moz-box-shadow:inset 0px 1px 0px 0px #0e426c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #0e426c;
  box-shadow:inset 0px 1px 0px 0px #0e426c;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #466d8d), color-stop(1, #0e426c));
  background:-moz-linear-gradient(top, #466d8d 5%, #0e426c 100%);
  background:-webkit-linear-gradient(top, #466d8d 5%, #0e426c 100%);
  background:-o-linear-gradient(top, #466d8d 5%, #0e426c 100%);
  background:-ms-linear-gradient(top, #466d8d 5%, #0e426c 100%);
  background:linear-gradient(to bottom, #466d8d 5%, #0e426c 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#466d8d', endColorstr='#0e426c',GradientType=0);
  /*background-color:#466d8d;*/
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border: none; /*1px solid #0e426c;*/
  display:inline-block;
  cursor:pointer;
  color:#ffffff; /*text color*/
  font-family:'Open Sans';
  font-size:13px;
  padding:6px 6px;
  text-decoration:none;
  text-shadow:0px 1px 0px #0e426c;
  text-align: center;
}
.hon:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0e426c), color-stop(1, #466d8d));
  background:-moz-linear-gradient(top, #0e426c 5%, #466d8d 100%);
  background:-webkit-linear-gradient(top, #0e426c 5%, #466d8d 100%);
  background:-o-linear-gradient(top, #0e426c 5%, #466d8d 100%);
  background:-ms-linear-gradient(top, #0e426c 5%, #466d8d 100%);
  background:linear-gradient(to bottom, #0e426c 5%, #466d8d 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e426c', endColorstr='#466d8d',GradientType=0);
  background-color:#0e426c;
}
.hon:active {
  position:relative;
  top:1px;
}

.hof {
  -moz-box-shadow:inset 0px 1px 0px 0px #546F8B;
  -webkit-box-shadow:inset 0px 1px 0px 0px #546F8B;
  box-shadow:inset 0px 1px 0px 0px #546F8B;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7b8fa4), color-stop(1, #546F8B));
  background:-moz-linear-gradient(top, #7b8fa4 5%, #546F8B 100%);
  background:-webkit-linear-gradient(top, #7b8fa4 5%, #546F8B 100%);
  background:-o-linear-gradient(top, #7b8fa4 5%, #546F8B 100%);
  background:-ms-linear-gradient(top, #7b8fa4 5%, #546F8B 100%);
  background:linear-gradient(to bottom, #7b8fa4 5%, #546F8B 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7b8fa4', endColorstr='#546F8B',GradientType=0);
  /*background-color:#7b8fa4;*/
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border: none; /*1px solid #546F8B;*/
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:'Open Sans';
  font-size:13px;
  padding:6px 6px;
  text-decoration:none;
  text-shadow:0px 1px 0px #546F8B;
  text-align: center;
}
.hof:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #546F8B), color-stop(1, #7b8fa4));
  background:-moz-linear-gradient(top, #546F8B 5%, #7b8fa4 100%);
  background:-webkit-linear-gradient(top, #546F8B 5%, #7b8fa4 100%);
  background:-o-linear-gradient(top, #546F8B 5%, #7b8fa4 100%);
  background:-ms-linear-gradient(top, #546F8B 5%, #7b8fa4 100%);
  background:linear-gradient(to bottom, #546F8B 5%, #7b8fa4 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#546F8B', endColorstr='#7b8fa4',GradientType=0);
  background-color:#546F8B;
}
.hof:active {
  position:relative;
  top:1px;
}



.me {
  -moz-box-shadow:inset 0px 1px 0px 0px #5F021F;
  -webkit-box-shadow:inset 0px 1px 0px 0px #5F021F;
  box-shadow:inset 0px 1px 0px 0px #5F021F;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #833d53), color-stop(1, #5F021F));
  background:-moz-linear-gradient(top, #833d53 5%, #5F021F 100%);
  background:-webkit-linear-gradient(top, #833d53 5%, #5F021F 100%);
  background:-o-linear-gradient(top, #833d53 5%, #5F021F 100%);
  background:-ms-linear-gradient(top, #833d53 5%, #5F021F 100%);
  background:linear-gradient(to bottom, #833d53 5%, #5F021F 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#833d53', endColorstr='#5F021F',GradientType=0);
  /*background-color:#833d53;*/
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border: none;/*1px solid #5F021F;*/
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:'Open Sans';
  font-size:13px;
  padding:6px 6px;
  text-decoration:none;
  text-shadow:0px 1px 0px #5F021F;
  text-align: center;
}
.me:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #833d53), color-stop(1, #833d53));
  background:-moz-linear-gradient(top, #5F021F 5%, #833d53 100%);
  background:-webkit-linear-gradient(top, #5F021F 5%, #833d53 100%);
  background:-o-linear-gradient(top, #5F021F 5%, #833d53 100%);
  background:-ms-linear-gradient(top, #5F021F 5%, #833d53 100%);
  background:linear-gradient(to bottom, #5F021F 5%, #833d53 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5F021F', endColorstr='#833d53',GradientType=0);
  background-color:#5F021F;
}
.me:active {
  position:relative;
  top:1px;
}

#letterman_patient_view {
  visibility: hidden;
  position: relative;
}

#starting_patient_view {
  visibility: visible;
  position: absolute;
}

.popover {
  z-index: 10000;
  position: relative !important;
}

#notificationIcon{
  font-size: 1em;
  color: #000;
}

#notificationDiv{
  position:fixed;
  right: 0px; 
}
#notificationButton{
  margin: 0.5em;
  /*#FFF;*/
  /*#206CC7;*/ 
  /*#e3e2de;*/
}

#calendar_view {
  padding-top:0px;
  margin-top:0px;
  color: #000;
  background-color: #FFF;
}

#title1, #title2 { 
  font-size: 45px;
  margin-top: .5em;
  color: #6E6E6E;
}

#freedommain {
  padding-left: 3em;
}

#hand {
  padding-left: 125px;
  color: #6E6E6E;
}

#logo {
  margin: 0.2em;
  margin-left: 0px;
  color: #FFF;
}

#tabContainer {
  margin-top: 15px;
}
#nameRow {
  padding-top: 30px;
  background-color: #FFFFFF;
}
#searchBar {
  margin: 0px;
/*  padding-top: 1em;
  padding-bottom: 1em;*/
}

.sidebar{
  padding: 0px;
  overflow-y: scroll;
}

.nopadding{
  padding: 0px;
}

#textareaEdit {
  width: 100%;
}

.panel-body{
  color: #6E6E6E;
}