/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

#tabs {
    width: 100%;
    border:none;
}

#notificationImg{
  width : 50px;
  height: 50px;
}

.navbar-brand{
  font-size: 2em;
}

.container-fluid, .lowerbar{
  padding:0px;
}

.navbar{
  border:none;
}