/*lightbox
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
/* TODO 
         3) no auto scroll when you click on a dropdown
         4) search thingy
         5) change background/tab/calendar colors
         6) clean up code (if time)

  DONE
  1) fix calendar formatting (weird stuff still with it like when you toggle days),
  2) min window width (deal with resizing) --> fix navbar (weird things...),
*/

.ui-autocomplete {
  /*position: absolute;*/
  top: 0;
  left: 0;
  z-index: 1510 !important;
  font-family:'Open Sans';
}

body {
  font-family: 'Open Sans';
  font-size: 1.5em;
  padding-top: 50px;
  background-color: #EEE;
  resize: true;

  min-width: 950px !important; /*any smaller and the labels for the time would show...lols. TO DO maybe? fix that?*/

}

.sub {
  font-size: 1em;
  color : #999;
}

.appt_icon {
  margin-right: 5px;
  font-size: 24px;
  color: white;
}
/*TO DO: (BACKEND) make app icon responsive (not red when no notifications)*/

#tabs {
    width: 100%;
    border:none;
    background-color: inherit;
    color: #999;
}
/*#calendarTab:hover{
  color:#999;
  }
#patientTab:hover{
  color:#999;
}*/
.navbar-inverse .nav .active>a, .navbar-inverse .nav .active>a:hover, .navbar-inverse .nav .active>a:focus{
  /*color:#EEE;*/
  color:#999;
  background-color:#ccc;

}

#notificationImg{
  width : 50px;
  height: 50px;
}

#notification{
    background-color : #F5F5F5;
    box-shadow: 1px 1px 1px #999 inherit;
    border-style:solid;
    border-width:1px;
    border-color:#999;


}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand:hover{
  color:#999;
}

.navbar-inverse .brand, .navbar-inverse .nav>li>a {
  text-shadow: none;
}

.navbar-inverse .brand, .navbar-inverse .nav>li>a:hover {
  color:#999;
  background-color:#F5F5F5;
}


#notification:hover { 
  background-color: #CCC; 
}

/*.navbar-fixed-top{
  border-style:solid;
  border-color:black;
}*/
.navbar-fixed-top{
  background-color: #F5F5F5
}

.navbar-brand{
  font-size: 2em;
}

/*.container-fluid{
  padding:0px;
}
*/
/*Underlining of tabs*/
/*#actualTabs{
  border-bottom: 2px solid #999;
}*/

#patientList{
/*  border-right: 1px solid #999;*/
  height:80vmax;
  margin: 0px 0px 0px 0px;
  padding-right: 0px;
}

#patientList {
  height:41vmax;
  /*do not touch. ask ashley why.*/
}

.lowerbar{
  padding:0px;
}

div.time-heading-div{
  width:100%;
}
li.appointment{
  min-width:100%;
  border-bottom: 1px solid #999;
}
/*a.patient {
  width: 242px;
  border-bottom: 1px solid #999;
}*/
ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
p{
  margin: 0px 0px 0px 0px;
  padding:none;
}

p.time-heading{
  font-weight:bold;
  /*text-align:center;*/
}
.navbar{
  border:none;
  background-color: inherit;
  font-color:black;

}

textarea {
  resize: none;
}

label {
  cursor: default;
}

.ui-datepicker-trigger {
  cursor: pointer;
}

.hour_inner {
  overflow-x: auto;
  overflow-y: hidden;
  list-style: none;
  white-space: nowrap;
}

.hour_inner li {
  display: inline-block;
  height: 100%;
}

#schedule_view {
  background-color: #DDDDDD;
  margin: 0px; /*VK*/
}

.hero-unit {
  padding: 30px; /*VK: default is 60px for hero-unit class*/
}
.hour_row {
  padding: 2px;
  height: 99px;
}
.row{
  margin: 0px; /*VK: default -15??? huh*/
}

.hour_label {
  background-color: #CCCCCC;
  height: 100%;
}

.label{ /*VK: could not get a centered label so just making the text only show... */
  background-color: #CCCCCC;
  padding: .5em;
}

.appt_elem {
  height: 100%;
  width: 110px;
  margin-left: 2px;
}

#calendar_icon:hover {
  cursor: pointer;
}

#lightbox {
  position: fixed;
  top: 10px;
  left: 50%;
  width: 400px;
  margin-left: -250px;
  background: #fff;
  z-index: 1001;
  display: none;

  border-radius: 3px;
  /*THIS IS WEIRD THING*/
  padding: 50px;
  box-shadow: 0px 0px 5px #fff;
}
#lightbox-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
  z-index: 1000;
  display: none;
}
#lightbox_title {
  background-color: #AAA;
  border-radius: 3px;
  padding: 5px;
  color: #FFF;
}

#lightbox_input {
  margin-top: 5px;
  width: 300px;
  height: 80px;
}

#lightbox_remove {
  margin-right: 5px;
}

#lightbox_buttons {
  margin: 5px;
  text-align: right;
}

.ch {
  -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
  box-shadow:inset 0px 1px 0px 0px #cf866c;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
  background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
  background-color:#d0451b;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #942911;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:13px;
  padding:6px 6px;
  text-decoration:none;
  text-shadow:0px 1px 0px #854629;
  text-align: center;
}
.ch:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
  background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
  background-color:#bc3315;
}
.ch:active {
  position:relative;
  top:1px;
}

.ev {
  -moz-box-shadow:inset 0px 1px 0px 0px #aaffaa;
  -webkit-box-shadow:inset 0px 1px 0px 0px #aaffaa;
  box-shadow:inset 0px 1px 0px 0px #aaffaa;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
  background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
  background-color:#44c767;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:13px;
  padding:6px 6px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  text-align: center;
}
.ev:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
  background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
  background-color:#5cbf2a;
}
.ev:active {
  position:relative;
  top:1px;
}

.hon {
  -moz-box-shadow:inset 0px 1px 0px 0px #aaaaff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #aaaaff;
  box-shadow:inset 0px 1px 0px 0px #aaaaff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
  background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
  background-color:#599bb3;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #29668f;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:13px;
  padding:6px 6px;
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
  text-align: center;
}
.hon:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
  background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
  background-color:#408c99;
}
.hon:active {
  position:relative;
  top:1px;
}

.hof {
  -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  box-shadow:inset 0px 1px 0px 0px #fce2c1;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
  background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
  background-color:#ffc477;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #eeb44f;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:13px;
  padding:6px 6px;
  text-decoration:none;
  text-shadow:0px 1px 0px #cc9f52;
  text-align: center;
}
.hof:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
  background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
  background-color:#fb9e25;
}
.hof:active {
  position:relative;
  top:1px;
}



.me {
  -moz-box-shadow:inset 0px 1px 0px 0px #efdcfb;
  -webkit-box-shadow:inset 0px 1px 0px 0px #efdcfb;
  box-shadow:inset 0px 1px 0px 0px #efdcfb;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfbdfa), color-stop(1, #bc80ea));
  background:-moz-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
  background:-webkit-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
  background:-o-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
  background:-ms-linear-gradient(top, #dfbdfa 5%, #bc80ea 100%);
  background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfbdfa', endColorstr='#bc80ea',GradientType=0);
  background-color:#dfbdfa;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #c584f3;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:13px;
  padding:6px 6px;
  text-decoration:none;
  text-shadow:0px 1px 0px #9752cc;
  text-align: center;
}
.me:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc80ea), color-stop(1, #dfbdfa));
  background:-moz-linear-gradient(top, #bc80ea 5%, #dfbdfa 100%);
  background:-webkit-linear-gradient(top, #bc80ea 5%, #dfbdfa 100%);
  background:-o-linear-gradient(top, #bc80ea 5%, #dfbdfa 100%);
  background:-ms-linear-gradient(top, #bc80ea 5%, #dfbdfa 100%);
  background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc80ea', endColorstr='#dfbdfa',GradientType=0);
  background-color:#bc80ea;
}
.me:active {
  position:relative;
  top:1px;
}

#letterman_patient_view {
  visibility: hidden;
  position: relative;
}

#starting_patient_view {
  visibility: visible;
  position: absolute;
}

.popover {
  z-index: 10000;
}

#popovergoddamit{
  margin: 0.5em;
}

#calendar_view {
  padding-top:0px;
  margin-top:0px;
}

#cal_title, #title1, #title2 {
  font-size: 45px;
  margin: 0px;
  padding-bottom: 30px; /*default for page-header is 9px*/
}

#freedommain {
  padding-left: 3em;
}

#hand {
  padding-left: 125px;
}

#logo {
/*  margin-top: 2px;*/
  margin: 0.2em;
  margin-left: 0px;
}

#tabContainer {
  margin-top: 15px;
}
#nameRow {
  padding-top: 30px; /*VK*/
}
#searchBar {
/*  margin-left: 10px;*/
  margin: 0px;
  padding-top: 1em;
  padding-bottom: 1em;
/*  padding:5px;
  padding-top:15px;
  padding-bottom: 15px;*/
}

.sidebar{
  padding: 0px;
}

.nopadding{
  padding: 0px;
}